tests/test_schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="shows" />

<xsd:element name="show">
 <xsd:complexType>
   <xsd:attribute name="name" type="xsd:string" use="required"/>
   <xsd:attribute name="type" type="xsd:decimal" use="required"/>
   <xsd:attribute name="hero" type="xsd:string"/>
 </xsd:complexType>
</xsd:element>

</xsd:schema>
